html, body{
  height: 100%;
  width: 100%;
  background: #f46b45;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-small{
  width: 50px;
}

.bg-white{
  background-color: white;
}

.align-middle{
  display: flex;
  justify-content: center;
  align-self: center;
}

.event-container{
  margin-bottom: 30px;
  position: relative;
}

.event-container .information{
  padding: 10px 0;
  text-align: left;
}

.event-container .information .data{
  padding-top: 5px;
}

.event-container .information button{
  padding: 0;
  transform: scale(0.95);
  vertical-align: top;
  margin-top: 2px;
  margin-right: 3px;
}

.event-container .information a:hover > button,
.event-container .information a:hover > .data{
  color: #f46b45;
}

.event-container .information a{
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
  color: black;
}

.event-container .information a span{
  height: 100%;
}

.event-container .actions{
  position: absolute;
  bottom: 10px;
  right: 0;
}

.event-container .actions a{
  text-decoration: none;
  margin-right: 10px;
}

.event-container img{
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.event-container.shadow-box{
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.19);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.19);
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.19);
}

.event-container > a{
  display: flex;
  text-decoration: none;
}

.event-container .img-container{
  width: 30%;
  height: 250px;
  overflow: hidden;
}

.event-container:hover .img-container img{
  transform: scale(1.1);
}

.event-container a:hover .title{
  /*color: #f46b45;*/
}

.event-container .img-container img{
  margin: 0;
  object-fit: cover;
  padding: 0;
  width: 100%;
  height: 100%;
  object-position: 40% 40%;
}

.event-container .content-container{
  width: 70%;
  padding: 20px;
}

.event-container .content-container .title,
.event-container .content-container .description{
  width: 100%;
  text-align: left;
  color: black;
}

.event-container .content-container .title{
  font-size: 24px;
}

.event-container .content-container .description{
  font-size: 16px;
}

.main-container{
  padding-bottom: 50px;
}

.navbar{
  padding: 25px;
}

.paper-form{
  max-width: 390px;
  width: 85%;
  margin: auto;
  padding: 25px 0 45px;
  margin-top: 70px;
}

.paper-form .send-btn{
  margin-top: 35px;
  background-color: #f46b45;
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  margin-top: 35px;
  margin-bottom: 10px;
}

.paper-form .send-btn:hover,
.paper-form .send-btn:active{
  background-color: #f46b45;
}

.paper-form input{
  margin-bottom: 0px;
}

.paper-form form{
  padding-top: 15px;
}

.paper-form .MuiInput-underline:after{
  border-bottom: 2px solid #f46b45;
}

.paper-form .MuiFormLabel-root.Mui-focused{
  color: #f46b45;
}

.paper-form .MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom: 2px solid #f46b45;
}

.paper-form .container-form{
  width: 75%;
  margin-top: 20px;
}

.login-form .logo{
  width: 100px;
}

.default-link{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  color: #f46b45;
  padding: 7px 0 0;
}

.container-form .MuiIconButton-root{
  color: #f46b45;
}

.sidebar{
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background: white;
  height: 100vh;
  width: 475px;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 3;
}

.sidebar.active{
  left: calc(100% - 475px);
  -webkit-box-shadow: -2px 0px 5px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: -2px 0px 5px 2px rgba(0,0,0,0.16);
  box-shadow: -2px 0px 5px 2px rgba(0,0,0,0.16);
}

.sidebar .items{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  list-style: none;
  padding: 0;
  text-align: left;
  width: 100%;
  padding: 0 80px;
}

.sidebar .items a{
  justify-content: left;
  font-size: 20px;
  text-decoration: none;
  padding: 0;
  color: black;
}

.sidebar .close-btn{
  width: 100%;
  text-align: right;
  padding: 30px 0px;
}

.sidebar .close-btn button{
  margin-right: 30px;
}

.sidebar .sidebar-container{
  position: relative;
  height: 100%;
}

.sidebar .items button{
  padding: 15px 20px;
}

form .info{
  font-size: 14px;
  padding: 0 25px;
}