@import './constants.scss';
@import './layout.scss';

body {
  overflow-x: hidden;
  margin: 0;
  font-family: $lt-main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  height: 100%;
  min-height: 100vh;
  background: $lt-color-vivid-blue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, $lt-color-light-blue 0%, $lt-color-vivid-blue 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $lt-color-light-blue 0%, $lt-color-vivid-blue 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: $lt-code-font;
}

.logo-small{
  width: 50px;
}

.default-link{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  color: #005bea;
  padding: 7px 0 0;
}

.form-container-full {
  width: 100%;
}

.form-container-full .row{
  display: flex;
  width: 100%;
  align-content: center;
  padding-top: 30px;
}

.form-container-full .row.row-list{
  padding-top: 5px;
}

.form-container-full .row .fields{
  display: inline-flex;
  width: 90%;
}

.form-container-full .row .fields .container-half{
  display: inline-flex;
  width: 50%;
  padding-right: 30px;
}

.form-container-full .row .btn-box{
  display: inline-flex;
  width: 10%;
}

.form-container-full.custom-width{
  max-width: 900px;
  margin: auto;
}

.form-container-full.custom-width .row{
  max-width: 700px;
  margin: 15px auto;
}

.form-container-full .head-section{
  padding-bottom: 20px;
}

.form-container-full{
  padding: 15px 0;
}

.container-full{
  width: 100%;
}

.head-section{
  display: flex;
}

.head-section .title-head{
  display: inline-flex;
  width: 50%;
}

.head-section .options{
  display: inline-flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.align-middle{
  display: flex;
  justify-content: center;
  align-self: center;
}

.text-left{
  text-align: left;
  justify-content: flex-start;
}

.text-center{
  text-align: center;
  justify-content: center;
}

.p-5{
  padding: 50px;
}

.ml-2{
  margin-left: 20px!important;
}

.main-container{
  padding-top: 12px;
  padding-bottom: 0px;
}

.container-form .MuiIconButton-root{
  color: #005bea;
}

.no-box-shadow .MuiPaper-elevation2{
  box-shadow: none;
}

.title-head{
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding: 10px 20px;
}

.custom-width .container-full{
  padding: 20px 25px 15px;
  max-width: 700px;
  margin-left: 0;
}

/*

.shadowOff{
  
}

.navbar{
  padding: 25px;
}
*/