/* login card */

.paper-container{
  padding-top: 70px;
}

.paper-form{
  max-width: 390px;
  width: 85%;
  margin: auto;
  padding: 25px 0 45px;
  text-align: center;
}

.paper-form .send-btn{
  margin-top: 35px;
  background-color: #005bea;
  width: 50%;
  margin: 35px 0 10px auto;
}

.paper-form .send-btn:hover,
.paper-form .send-btn:active{
  background-color: #005bea;
}

.paper-form input{
  margin-bottom: 0px;
}

.paper-form form{
  padding-top: 15px;
}

.paper-form .MuiInput-underline:after{
  border-bottom: 2px solid #005bea;
}

.paper-form .MuiFormLabel-root.Mui-focused{
  color: #005bea;
}

.paper-form .MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom: 2px solid #005bea;
}

.paper-form .container-form{
  width: 75%;
  margin-top: 20px;
}

.paper-form .info{
  font-size: 14px;
  padding: 0 40px;
}

.ext-error .ext-error{
  text-align: left;
  color: red;
  font-size: 11px;
}

.ext-error label{
  color: red;
}

.paper-form .ext-error .MuiInput-underline:hover:not(.Mui-disabled):before,
.paper-form .ext-error .MuiInput-underline:after,
.ext-error .MuiInput-underline:before{
  border-bottom: solid 2px red;
}